<!--
Project name: Assignment 1: Express Portfolio Site
File name: footer.ejs
Author's name: Daria Davydenko
Web-site: https://dariadavydenko.herokuapp.com/
File description: This is a partial file that contain footer and script tags for each page.
Pictures were taken from www.pexels.com
Framework: materializecss.com
-->

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="javascripts/materialize.js"></script>
<script type="text/javascript" src="javascripts/materialize.min.js"></script>
<script type="text/javascript" src="javascripts/script.js"></script>

</body>
</html>
