<!--
Project name: Assignment 1: Express Portfolio Site
File name: about-me.ejs
Author's name: Daria Davydenko
Web-site: https://dariadavydenko.herokuapp.com/
File description: This is an about page of the website. Here there are an information about me.
Pictures were taken from www.pexels.com
Framework: materializecss.com
-->

<% include partials/header  %>

<!-- MAIN BANNER -->
<div class="banner">
  <img src="/images/about.jpg" alt="About me">
  <h1 class="header center banner-text "><%= name %></h1>
</div>
<!-- END MAIN BANNER -->

<div class="container">
  <div class="row">
    <div class="col s12 m8 l8">
      <h1>My name is Dasha</h1>
      <p> I am highly motivated student programmer currently taking Computer Programmer(Co-op) at Georgian College. Disciplined and highly interested in Web and Software Development; problem solver. Capable to learn new information and technologies quickly, able to work alone or as a part of the team. Also able to analyze complex problems and design practical solutions.</p>
    </div>
    <div class="col s12 m4 l4">
      <img src="images/dasha.jpg" alt="Dasha" class="about-photo">
    </div>
  </div>
</div>
<% include partials/footer  %>
