<!--
Project name: Assignment 1: Express Portfolio Site
File name: about-me.ejs
Author's name: Daria Davydenko
Web-site: https://dariadavydenko.herokuapp.com/
File description: This is an about page of the website. Here there are an information about me.
Pictures were taken from www.pexels.com
Framework: materializecss.com
-->

<% include partials/header  %>

<!-- MAIN BANNER -->
<div class="banner">
  <img src="/images/about.jpg" alt="About me">
  <h1 class="header center banner-text "><%= name %></h1>
</div>
<!-- END MAIN BANNER -->

<div class="container">
  <div class="row">
    <div class="col s12 m4 l4">
      <img src="images/dasha.jpg" alt="Dasha" class="about-photo">
    </div>
    <div class="col s12 m8 l8">
      <h2>Nice to meet you!</h2>
      <p class="about-me">My name is Dasha Davydenko. I am highly motivated student programmer from Ukraine currently taking Computer Programmer(Co-op) at Georgian College and searching for a work after graduation. I am patient and highly interested in Web and Software Development, love to solve problems and find a working solution. I’m learning extremely fast so even if I don’t know something now, I will learn and implement it quickly, or Google it. I believe there is no problem you can’t  find in Google!<br>
      I was working as a Peer Tutor during my third semester in college and I had really great opportunities to improve my learning skills by helping students solve their problems.<br>
      Thank you for taking the time to review my web-site. If you would like to get in touch to discuss my application and to arrange an interview, you can contact me via <a href="/contact-me">form</a> or by phone 705-241-1657.</p>
    </div>
  </div>
</div>
<% include partials/footer  %>
