<!--
Project name: Assignment 1: Express Portfolio Site
File name: contact.ejs
Author's name: Daria Davydenko
Web-site: https://dariadavydenko.herokuapp.com/
File description: This is a contact page of the website.
Here there are a contact form on nodemailer.
Pictures were taken from www.pexels.com
Framework: materializecss.com
-->

<% include partials/header  %>

<!-- MAIN BANNER -->
<div class="banner">
  <img src="/images/contact.jpg" alt="Services">
  <h1 class="header center banner-text "><%= name %></h1>
</div>
<!-- END MAIN BANNER -->


<% include partials/footer  %>
