<!--
Project name: Assignment 1: Express Portfolio Site
File name: index.ejs
Author's name: Daria Davydenko
Web-site: https://dariadavydenko.herokuapp.com/
File description: This is a main page of the website.
Pictures were taken from www.pexels.com
Framework: materializecss.com
-->

<% include partials/header  %>

<!-- MAIN BANNER -->
<div class="banner">
  <img src="/images/computer.jpg" alt="Hello!">
  <div class="center home-text">
    <h1 class="header">Hello!</h1><br>
    <p>My name is Dasha. I'm a programmer and web-developer and I love what I do</p>
    <a href="/projects">View my works</a>
  </div>
</div>

<!-- END MAIN BANNER -->

<% include partials/footer  %>
