<!--
Project name: Assignment 1: Express Portfolio Site
File name: projects.ejs
Author's name: Daria Davydenko
Web-site: https://dariadavydenko.herokuapp.com/
File description: This is an portfolio page of the website.
Here there are examples of my work. The imformation comes from the JS object using Vue.js.
Pictures were taken from www.pexels.com
Framework: materializecss.com
-->


<% include partials/header  %>

  <!-- MAIN BANNER -->
  <div class="banner">
    <img src="/images/portfolio.jpg" alt="Portfolio">
    <h1 class="header center banner-text banner-text-projects">Projects</h1>
  </div>
  <!-- END MAIN BANNER -->

  <!-- PROJECTS GRID -->

  <div id="project">
    <div class="row row-project">
      <div class="col s12 m6 l4" v-for="project in projects">

        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator responsive-img" v-bind:src="project.image">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ project.name }}<i class="material-icons right">more_vert</i></span>
            <p><a v-bind:href="project.href">View</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ project.name }}<i class="material-icons right">close</i></span>
            <p>{{ project.text }}<br>
            <a v-bind:href="project.href">View</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- END PROJECTS GRID -->

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
  //Vue object with all progects
    var project = new Vue({
      el: '#project',
      data: {
        projects: [{
            name: 'Bookshelf ASP.NET App',
            text: 'This is an example of ASP.NET MVC 5, SQL Server, Entity Framework, and Twitter Bootstrap. User can register, using email or account in Microsoft, Google or Facebook. User can browse different books, edit information, add or delete books. Also there are an information about authors. Admin user can manage other users - add, update or delete personal information.',
            image: '/images/projects/bookshelf.jpg',
            href: 'https://assignment2-200335788.azurewebsites.net'
          },
          {
            name: 'CMS using PHP',
            text: 'This is an example of CMS on simple PHP, MySQL, and Twitter Bootstrap. User can register, create, update or delete page.',
            image: '/images/projects/cms.jpeg',
            href: 'https://cms-using-php.herokuapp.com/'
          },
          {
            name: 'Mary Ventrella Counselling',
            text: 'This is a web-site that I and my friend developed during my first semester at Georgian College. The site is developed on HTML and CSS technologies but now I am updating it, using PHP, JavaScript, and Bootstrap. This is a real working site for a teacher in Georgian College.',
            image: '/images/projects/ventrella.jpg',
            href: 'http://maryventrellacounselling.ca/'
          },
          {
            name: 'Loscut',
            text: 'This is a website for the client on Wordpress and MySQL. The website is currently in progress and the content will be there soon.',
            image: '/images/projects/loscut.jpg',
            href: 'https://www.loscut.com.ua/'
          },
          {
            name: 'Portfolio',
            text: 'This is my Personal Portfolio Website. This application uses Express.js, EJS templating engine, Materialize Framework and Vue.js.',
            image: '/images/projects/portfolio.jpg',
            href: 'https://dariadavydenko.herokuapp.com/'
          },
          {
            name: 'Book store Java App',
            text: 'This is a desctop application on Java and MySQL about selling books. User can register to the application and see, which books are avaliable at this moment. Manager can sell or add books to the database. Admin also has an access to users database - they can add, update or delete user, set managers.',
            image: '/images/projects/bookstore.jpg',
            href: 'https://github.com/ya-ya-it/comp1011-assignment1'
          },
        ]
      }
    })
  </script>

  <% include partials/footer  %>
