<!--
Project name: Assignment 1: Express Portfolio Site
File name: projects.ejs
Author's name: Daria Davydenko
Web-site: https://dariadavydenko.herokuapp.com/
File description: This is an portfolio page of the website.
Here there are examples of my work. The imformation comes from the JS object using Vue.js.
Pictures were taken from www.pexels.com
Framework: materializecss.com
-->


<% include partials/header  %>

<!-- MAIN BANNER -->
<div class="banner">
  <img src="/images/portfolio.jpg" alt="Portfolio">
  <h1 class="header center banner-text "><%= name %></h1>
</div>
<!-- END MAIN BANNER -->

<% include partials/footer  %>
