<!--
Project name: Assignment 1: Express Portfolio Site
File name: services.ejs
Author's name: Daria Davydenko
Web-site: https://dariadavydenko.herokuapp.com/
File description: This is a services page of the website.
Here there are a description of my knowledge and experiance.
Pictures were taken from www.pexels.com
Framework: materializecss.com
-->

<% include partials/header  %>

<!-- MAIN BANNER -->
<div class="banner">
  <img src="/images/services.jpg" alt="Services">
  <h1 class="header center banner-text "><%= name %></h1>
</div>
<!-- END MAIN BANNER -->

<% include partials/footer  %>
